*{
    margin: 0;
    padding: 0;
}
body{
    padding: 25vh;
}
.master{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
input{
    border-radius: 1vh;
    height: 6vh;
    width: 20vw;
    align-items: center;
    outline: none;
}
button{
    height: 6vh;
    width: 20vw;
    border-radius: 1vh;
    color: white;
    background-color: blueviolet;
}
a{
    text-decoration: none;
    
}